.reg-left-col{
    text-align: center;
    color: var( --card-text-color);
    background-color: var(--card-bg-color2);
    padding: 40px 50px;
    height: 100%;
    font-family:'Nunito';
    
}

.section-form{
    border: 2px solid var(--card-bg-color2);
    border-radius: 5px;
    margin: 10px 0;
    font-family:'Nunito';
}
.title-registration{
    background-color: #fff;
    color: var(--heading-solid-text-color);
}
.error{
    color: rgb(141, 15, 15);
}

.register-image{width: 250%;height: 180px;background: url('../../assets/images/register.png');    background-size: contain;
    background-repeat: no-repeat;background-position: center; }