/* @import "/node_modules/@fullcalendar/core/main.js"; */
@import "/node_modules/@fullcalendar/daygrid/main.css";

.fc-h-event{background-color: #19a3c6 !important;}
  
.fc .fc-toolbar.fc-header-toolbar{font-family:'Nunito';}
.fc .fc-scrollgrid-liquid {font-family:'Nunito';}
.fc .fc-daygrid-day.fc-day-today{background: #d9edf3 !important;}
.fc .fc-button-primary{background-color: #19a3c6 !important;border:0 !important;}
.fc .fc-button-primary:disable{background-color: #19a3c6 !important;border:0 !important;}