
    .sidenav{
        height: 100vh;
        color: black;
        /* paddingTop: theme.spacing(10), */
        background-color: #d9edf3;
        position: sticky;
        top: 0;
        margin:0;
        display :flex;
        padding-top: 14px;
        
        

    }
    .link {
        text-decoration: None;
        border-radius: 10px; 
        font-family:'Nunito';
        color:var(--side-nav-link-color);
        font-size: 15px;
        font-weight:700;
        padding-right: 10px;
    }
    .item {
        
        display: flex;
        align-items: center;
        /* background-color: var(--solid-button-color);
        color:  var(--button-text-color); */
        padding:0 ; 
        margin: 0;
        line-height: 10px;
    }
    .icon {
        position: relative ;
        left: -10px;
        top: -2px;
       
 color: var(--side-nav-icon-color);
    }
    .text {
        font-weight: 500;
            
    }
    