:root 
{
  /* ---style for appbar--- */
  --appbar-bg-color:#19a3c6;
  
  /* ---style for logo--- */
  --logo-icon-color:#19a3c6;
  --logo-icon-bg-color:#ffffff;

  /* ---style for buttons---- */
  --solid-button-color:#19a3c6;
  --login-button-color: #79222200;
  --login-button-color-hover:#071e5500;
  --button-text-color:#ffffff;

  /* ---style for headings ---*/
  --h1-text-color:#212121;
  --h2-text-color:#2419c6;
  
  /* ---heading with bg color--- */
  --heading-bg-color:#19a3c6;
  --heading-text-color:#fff;
  --heading-solid-text-color:#19a3c6;

  /* ---list text color & icon color--- */
  --list-item-color:#000;
  --list-icon-color:#000;

 

  /* ---card colors--- */
  --card-icon-color:#ffffff;
  --card-bg-color1:#0297b9;
  --card-bg-color2:#01a3c9;
  --card-text-color:#ffffff;
  /* hyper--link--color */
  --link-text-color: #01a3c9;


  /* ---footer style--- */
  --footer-bg-color:#0297b9;
  --footer-text-color:#ffffff;

  /* --------paragraph text color---- */
  --para-text-color:#797d7d;

  /* outline colors */
--out-line-color:#19a3c6;

/* ---half white--- */
--card-bg-white-color:#fefefe;

/* ---form--feild--border-color------ */
--text-feild-border:#0297b9;
}
.row-inner{
  width: 1200px;
  margin: 0 auto;
  font-family:'Nunito';
}
/* ---remove underline for a link--- */
.remove-text-decoration{
 text-decoration: none;
}
.page-title{
  background-color: var(--heading-bg-color);
  color: var(--heading-text-color);
  font-family:'Nunito';
  font-weight: 700;
  border-radius: 10px;
  margin: 5px 0 0;
  font-size: 1.5rem;
  padding: 5px;
  outline: 1px solid var(--out-line-color);
  border: 2px solid #fff;
}

.inside-page-cards{
  background-color: var(--card-bg-white-color);
  padding: 10px;
  border-radius: 10px;
  border:1px solid #212121;
}

.solid-button{
  background-color: var(--solid-button-color);
  color: var(--button-text-color);
  border-radius: 5px;
  font-family:'Nunito';
  width: 100%;
  text-transform: capitalize;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
}

.page-title{

  background-color: var(--heading-bg-color);
  color: var(--heading-text-color);
  font-family:'Nunito';
  font-weight: 700;
  border-radius: 10px;
  margin: 5px 0 0;
  font-size: 1.5rem;
  padding: 5px;
  outline: 1px solid var(--out-line-color);
  border: 2px solid #fff;

}
.card-style{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border-radius: 30%;
}

.color-link{
  color: var(--link-text-color) ;
}
.modal-style{
  font-family:'Nunito';
  /* color: red; */
  text-transform: capitalize;
  display: block;
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 600px)
{
.row-inner{width: 100%;}  
}