.UserCard {
    width: 100%;
    height: 280px;
    border: black;
    border-radius: 20px 20px;
    box-shadow: 5px 5px 30px black;
    margin: 7px;
    padding: 10px 0 20px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .UserCard .profileImage {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #7cadad;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 120px;
  }

  .UserCard p {
    color: grey;
    font-size: medium;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

   .UserCardTitle {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
