.card {
    display: flex;
    align-items: center;
}
.sidebar {
    margin: 15px;
    width: 90%;
    overflow: auto;
    display: inline-table;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 5px;
    background-color: #969696;
    font-size: medium;
    text-align: center;
  }

  .sidebar a:hover {
  background-color: #ffc107;
  }