.button1 {
    border-radius: 2rem;
    background-color: #19a3c6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  form {
    width:  500px;
  }